[init]
	defaultBranch = main
[user]
	email = timothy.farkas@gmail.com
	name = Tim Farkas
[core] 
	excludesFile = /home/farkastime/.gitignore_global
	pager = cat
[pull]
	rebase = false
[push]
	autoSetupRemote = true
